<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!-- Url of the host of your UniFi contoller, i.e. https://192.168.0.1:8443 -->
    <add key="UniFiControllerUrl" value="https://192.168.0.1:8443"/>
    <!-- UniFi Site ID to communicate with. Get this from the URL when browsing through UniFi. If you just have one site, provide default or leave empty. -->
    <add key="UniFiControllerSiteId" value="default"/>
    <!-- The username to use to authenticate to UniFi -->
    <add key="UniFiControllerUsername" value="admin"/>
    <!-- The password to use to authenticate toUniFi -->
    <add key="UniFiControllerPassword" value="password"/>
  </appSettings>
</configuration>
