<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="UniFiControllerUrl" value="https://192.168.0.1:8443"/>
    <add key="UniFiControllerUsername" value="admin"/>
    <add key="UniFiControllerPassword" value="password"/>
  </appSettings>
</configuration>
