<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UniFiControllerUrl" value="https://unifi.zomers.eu:8443"/>
    <add key="UniFiControllerSiteId" value="default"/>
    <add key="UniFiControllerUsername" value="admin"/>
    <add key="UniFiControllerPassword" value="lPJV7tmf3KEe9JFnkk62"/>
  </appSettings>
</configuration>
